.timer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	margin-top: 2rem;
}

button {
	font-size: 1.5rem;
	margin: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background-color: #0077cc;
	color: #fff;
	border: none;
	cursor: pointer;
}
